In [ ]:
%matplotlib inline

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split 

train = pd.read_csv('all/train_V2.csv')
# train = train.dropna()
train.head()

In [93]:
test = pd.read_csv('all/test_V2.csv')
test.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,9329eb41e215eb,676b23c24e70d6,45b576ab7daa7f,0,0,51.46,0,0,0,73,...,1500,0,0.0,0,0.0,0,0,588.0,1,0
1,639bd0dcd7bda8,430933124148dd,42a9a0b906c928,0,4,179.10,0,0,2,11,...,1503,2,4669.0,0,0.0,0,0,2017.0,6,0
2,63d5c8ef8dfe91,0b45f5db20ba99,87e7e4477a048e,1,0,23.40,0,0,4,49,...,1565,0,0.0,0,0.0,0,0,787.8,4,0
3,cf5b81422591d1,b7497dbdc77f4a,1b9a94f1af67f1,0,0,65.52,0,0,0,54,...,1465,0,0.0,0,0.0,0,0,1812.0,3,0
4,ee6a295187ba21,6604ce20a1d230,40754a93016066,0,4,330.20,1,2,1,7,...,1480,1,0.0,0,0.0,0,0,2963.0,4,0

In [78]:
train2 = train.iloc[:1000, :10]
train2.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45

In [70]:
#data = train.iloc[:,3:28].drop('matchType', axis=1)
train2_2 = train.loc[:,['winPlacePerc']]
train3 = train2.combine_first(train2_2)
train_filtered = train3.dropna()
data = train_filtered.loc[:,['assists']] #:'boosts'] #true infinite
target = train_filtered.loc[:,['winPlacePerc']] # true nan
# target[['winPlacePerc']] = target[['winPlacePerc']].apply(pd.to_numeric)

#target = target.values.astype(np.float)
# target.dropna()
# data.count()
# np.any(np.isnan(target))

#target.count()

#target.to_csv('target.csv')
#np.all(np.isfinite(target))
# target.dtypes
train2_2.head()

   winPlacePerc
0        0.4444
1        0.6400
2        0.7755
3        0.1667
4        0.1875

In [59]:
data.head()

   assists
0      0.0
1      0.0
2      1.0
3      0.0
4      0.0

In [60]:
target.head()

   winPlacePerc
0        0.4444
1        0.6400
2        0.7755
3        0.1667
4        0.1875

In [61]:
# from sklearn.tree import DecisionTreeClassifier
# from sklearn import preprocessing

# enc = preprocessing.LabelEncoder()

# data2 = data.values
# target2 = target.values

# data_enc = enc.fit_transform(data2)
# target_enc = enc.fit_transform(target2)

# #split into training and test data
# X_train, X_test, y_train, y_test = train_test_split(
#     data_enc, target_enc, stratify = target_enc, random_state=0)

# #build the tree using the training data
# tree = DecisionTreeClassifier(random_state=0)
# tree.fit(X_train, y_train)

# #Print accuracy of the model
# print("Accuracy on training set: {:.3f}".format(tree.score(X_train, y_train)))
# print("Accuracy on test set: {:.3f}".format(tree.score(X_test, y_test)))

In [75]:
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
test_ = test.loc[:,['assists']]#:'boosts']

X_train, X_test, y_train, y_test = train_test_split(
    data, target, random_state=0)

knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(X_train,y_train)

#Print accuracy of the model
print("Accuracy on training set: {:.3f}".format(knn.score(X_train, y_train)))
print("Accuracy on test set: {:.3f}".format(knn.score(X_test, y_test)))

Accuracy on training set: -0.795
Accuracy on test set: -0.953

In [91]:
result = knn.predict(test_)
id_col = test.loc[:, ['Id']]
id_col.columns = ['Id']

col = ['winPlacePerc']
res = pd.DataFrame(data = result, columns=col)
result2 = res.combine_first(id_col)

result2.to_csv('winres.csv')